/*
універсальний селектор
селектор елементу(тегу)
селектор id
селектор класу
селектор атрибуту
селектор нащадка
дочірній селектор
селектор сусіда
*/

/*універсальний селектор*/
/*
*{
    margin: 0;
}
*/

/*селектор елементу(тегу)*/
/*h1 {
    color: teal;
}

p {
    color: tomato;
}

a {
    color: pink;
}
*/

/* ul {
    list-style: none;
}

a {
    text-decoration: none;
} */

/* селектор id */

/* селектор класу */
/* .text {
        color: tomato;
} */